.login-signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: linear-gradient(135deg, #fef1f4, #fde7ec, #fcdde4);


    color: #333;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-signup-container h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    /* font-weight: bold; */
    color: black;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); */
}

.login-signup-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-signup-container input {
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

.login-signup-container input:focus {
    background: #fff;
    border: 2px solid rgb(238, 202, 208);
    box-shadow: 0 0 8px rgba(243, 178, 235, 0.5);
}

.login-signup-container button {
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(135deg, #f497b6, #e86a92);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.login-signup-container button:hover {
    background: linear-gradient(135deg, #e391ab, #f497b6);
    box-shadow: 0 4px 8px rgba(232, 106, 146, 0.4);
}



/* .toggle-button {
    background: none;
    color: #5a2d82;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
} */

/* .toggle-button:hover {
    color: #7d48de;
} */

/* .toggle-button:focus {
    outline: none;
    text-shadow: 0 0 6px rgba(125, 72, 222, 0.5);
} */

.login-signup-container p{
    margin-top : 30px;
}